*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: aliceblue;
    text-decoration: double;
    
   
}
.section{
    width: 100%;
    min-height: 100vh;

}
.container{
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;
}
.content-section{
    float: left;
    width: 50%;

}
.image-section{
    float: right;
    width: 50%;
}
.image-section img{
    width: 80%;
    height: 100%;

}
.content-section .content p{
    margin-top: 10px;
    font-size: 18px;
    line-height: 1.5;
}
.content-section .content .button {
    margin-top: 30px;
}
.content-section .content .button a{
    background-color: black;
    padding: 12px 40x;
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    letter-spacing: 1.5px; 
}



