{% extends 'base.html'%}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
    <!-- <link rel="stylesheet" href="css/style.css"> -->
</head>

<body>

    <div class="section">
        <div class="container">
            <div class="content-section">
                <div class="title">
                    <h1>ABOUT US</h1>
                </div>
                <div class="content">
                    <p>Business owners have various options such as traditional classified platforms or simply making
                        the use of social media platforms such as Facebook & Instagram.However Windowshopper gives them
                        the
                        power to manage their online inventory just as they would in their physical store.

                    </p>
                    <p>With the Windowshopper app, business owners can upload as much inventory as they want, specify
                        how
                        many of each is in stock, adjust prices as they wish, change photos and even add product
                        variations. All under one application.
                    </p>

                    <button type="button" class="btn btn-warning">Read more</button>

                </div>
                <div class="social">
                    <a href=""><i class="fa fa-facebook-f"></i></a>
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-instagram"></i></a>

                </div>
            </div>
            <div class="image-section">
                <img src="/app/static/photos/image2.jpg" style="width: 600px; height: 300px;" alt="figure2">
            </div>
        </div>
    </div>



</body>

</html>
{% endblock %}












{% endblock %}