{% extends 'base.html'%}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
    <title>Document</title>
    <!-- <link rel="stylesheet" href="css/style.css"> -->
</head>

<body>

    <div class="section">
        <div class="container">
            <div class="content-section">
                <div class="title">
                    <h1>ABOUT US</h1>
                </div>
                <div class="content">
                    <p>Business owners have various options such as traditional classified platforms or simply making
                        the use of social media platforms such as Facebook & Instagram.However Windowshopper gives them
                        the
                        power to manage their online inventory just as they would in their physical store.

                    </p>
                    <p>With the Windowshopper app, business owners can upload as much inventory as they want, specify how
                        many of each is in stock, adjust prices as they wish, change photos and even add product
                        variations. All under one application.
                    </p>
                    <p>Furthermore, Windowshopper assures you that with every sale, your product will be picked up &
                        delivered within 24hrs, and your payment will be sent directly to your MPesa account immediately
                        the customer accepts the delivery.
                    </p>


                    
                    <button type="button" class="btn btn-warning">Read more</button>

                </div>
            </div>
            <br>
            <div class="image-section">
                <img src="/photos/image2.jpg" style="width: 600px; height: 300px;" alt="figure2">
            </div>
        </div>
    </div>



</body>

</html>












{% endblock %}
