{% extends 'base.html'%}

{% block content %}

  <!-- start of the About Section -->
  <h2 class="text-center mt-2" id="about">ABOUT US</h2>
  <h1 class="text-center mb-3" id="tag">WHY CHOOSE US ?</h1>
  <div class="container">
    <div class="row gx-0 ">      
      <div class="col-md gx-0 ">
        <img class="img-fluid" src="https://random.imagecdn.app/500/500" alt="">
      </div>
      <div class="col-md gx-0 ">
        <div class="content">
            <p>Business owners have various options such as traditional classified platforms or simply making
                the use of social media platforms such as Facebook & Instagram.However Windowshopper gives them
                the
                power to manage their online inventory just as they would in their physical store.

            </p>
            <p>With the Windowshopper app, business owners can upload as much inventory as they want, specify how
                many of each is in stock, adjust prices as they wish, change photos and even add product
                variations. All under one application.
            </p>
            <p>Furthermore, Windowshopper assures you that with every sale, your product will be picked up &
                delivered within 24hrs, and your payment will be sent directly to your MPesa account immediately
                the customer accepts the delivery.
            </p>


            
            <button type="button" class="btn btn-warning">Read more</button>

        </div>
        <br>

        <button class="btn btn-primary">DELIVERY</button>
        <button class="btn btn-primary">EASY PAYMENT</button>
        <button class="btn btn-primary">24HRS SERVICE</button>
        <br>
        <br>
        <hr>
        <button class="btn btn-primary">LEARN MORE</button>
      </div>
  </div>
  </div>
  <!-- End of the About Section -->










{% endblock %}
