{% extends 'index.html' %}
{% block home_content %}

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">    
        <title>comments</title>
    </head>

<body>
    <div class="container">
        <div class="col-12 comment-form" id="comment-form{{ comment.id }}">
                <form action="">
                    <label for="comment{{comment.id}}">Comment</label>
                    <textarea id="comment{{comment.id}}" class="form-control" rows="10">
                    </textarea>
                    <button class="btn btn-primary submit-comment" data-id="{{comment.id}}">Submit comment</button>
                </form>
            </div>

            <div class="footer">
                <p>Footer</p>
            </div>
            <script src="" async defer></script>
        </div>
</body>
