{% extends 'base.html'%}
{% block content %}

<section class="Products">
  <div class="container">
      <h1 class="text-center mt-3">Deals Of The Day</h1>
      <div class="row">
          {% for product in products %}
          <div class="col-md-6">
              <div class="card mb-3" style="max-width: 5400px;">
                  <div class="row g-0">
                      <div class="col-md-4">
                      <img src="https://random.imagecdn.app/400/400" class="img-fluid rounded-start" alt="...">
                      </div>
                      <div class="col-md-8">
                      <div class="card-body">
                          <h5 class="card-title">{{ product.name | upper }}</h5>
                          <p class="card-text">{{product.short_description}}</p>
                          <p class="card-text">Ksh:{{product.price}}</p>
                          <a class="btn btn-outline-success mb-2" data-bs-toggle="modal" data-bs-target="#detailsModal">VIEW</a>
                          <p class="card-footer"><small class="text-muted">Date updated{{product.time.strftime('%d-%m-%Y')}}</small></p>
                      </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- Modal -->
          <div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">{{ product.name | upper }}</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p class="card-text">Product Description: {{product.long_description}}</p>
                  <p class="card-text">Product Color: {{product.color}}</p>
                  <p class="card-text">Product Stock: {{product.Stock}}</p>
                  <p class="card-text">Product Brand: {{product.brand}}</p>
                  <p class="card-text">Product Model: {{product.model}}</p>
                  <p class="card-text">Product Category: {{product.category}}</p>


                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
      </div>
  </div>
</section>
{% endblock %}