{% extends 'base.html'%}
{% block content %}
<h2 class="text-center"><u>What They Know About Us</u></h2><br>
<div class="container">
  <div class="row">
    <div class="col-md">
      <div class="card" style="width: 18rem;">
        <img src="{{ url_for('static', filename='avarta.jpg')}}" class="card-img-top rounded-circle" alt="...">
        <div class="card-body">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star "></span>  
          <h2 >Paradise Hahaha.</h2>
          <p class="card-text"><small class="text-muted">Window-Shopper XD</small></p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

 